/***********************************TAG SELECTORS******************************************/
input{
    margin:5px;
    padding: 5px;
}

button{
    margin-left: 5px;
}

table th{
    font-size: 15px;
}

table th .fas{
   padding: 0 7px;
}


/**********************************CLASS SELECTORS*****************************************/
.column{
    background-color: lightgray;
    /* float: left; */
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}

.left{
    margin-left: 6px;
    width: 20%;
}

.mid{
    background-color: white;
    width: 35%;
}

.right{
    margin-right: 25px;
    overflow-y: auto;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    max-height: 850px;
    /* scrollbar-width: 15px; */
    top: 5px;
    width: 45%;
}

.validation{
    color:red;
    font-size: 0.75em;
}

.mid-button-container{
    margin: 5px 0 0 0;
    text-align: right;
}

.icons {
    display: inline;
    float: right;
    margin-right: 15px;
}

.info{
    font-size: 15px;
    height: 80%;
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.info input[type="text"]{
    margin: 3px;
    padding: 3px;
    width: 90%;
}

.info select{
    margin: 5px;
}

.mid-table-row:hover{
    cursor: pointer;
    color: gray;
}

.transaction-final {
    margin: 25px auto 10px; 
    width:98%;
}

/*************************************ID SELECTORS*****************************************/
#header>*{
    /* Select level 1 children */
    display: inline-block;
} 

#header img{
    max-height: 100%;
    max-width: 100%;
    padding-left: 5px;
    /* display: block; */
}

#header{
    background-color:#1881c5;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Hind Siliguri', sans-serif;
    height: 100px;
    padding-bottom: 10px;
    width: 100%;
}

#header p{
    color:white;
    font-size: 2em;
    padding: 50px 20px 10px;
    position: absolute;
    right: 2%;
}

#header .logout{
    color:white;
    position: absolute;
    right: 2%;
    text-decoration: none;
    top: 25px;
    z-index: 1;
}

#header .logout:hover{
    color:lightgray;
    
}

#search-container{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    line-height: 2;
    padding: 10px;
}

#consoleSelectBox{
    margin-left: 5px;
}

#list-container{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-top: 0px;
    border-width: 1px;
    padding: 10px;
}

#list-container li a:link{
    color: black;
    line-height: 20px;
    text-decoration: none;
}

#list-container li a:visited{
    color: slategray;
    line-height: 20px;
    text-decoration: none;
}

#list-container li a:hover{
    color: inherit;
    cursor: pointer;
    line-height: 20px;
    text-decoration: underline;
}

#mid-column{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

#right-column{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}


#footer{
    background-color: #1881c5;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: white;
    display: inline-block;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 0.75em;
    margin: 15px auto;
    padding: 20px 5px 0;
    position: relative;
    width: 100%;
}


#content-pane{
    align-items: flex-start;
    display: flex;
    margin: 25px 0 25px;
    /* justify-content: space-around; */
    /* min-height: 100%; */
    /*overflow: visible; */
}

#mid-table-list h4{
    font-weight: bold;
    text-align: right;
}

#mid-table-list table{
    border-collapse: collapse;
    color: darkslategray;
    width: 100%;
}

#mid-table-list th, #mid-table-list td{
    border: 1px gray solid;
    height: 50px;
    padding-left: 6px;
}

@media screen and (max-width: 1250px) {
    .column {
        display: inline-block;
        float: none;
    }

    .left{
        width: 98%;
    }

    .mid{
        width: 98%;
    }

    .right{
        width: 98%;
    }
  }